//New item & Loyalty Card

.loyalty-item-card,
.new-item-card {
  .mat-card-content {
    color: #fff;
    font-size: 3rem;
    line-height: 1.3;
    padding: 20px 20px 30px;
  }
  min-height: 380px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loyalty-item-card {
  background-color: $tertiary;
}

.new-item-card {
  background-color: $tertiary;
}
//New item / edit item page

.edit-item {
  h1 {
    color: #000;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .intro{
    color:$main-font-color;
    margin-bottom: 30px;
  }

  .form {
    margin-bottom: 1.5rem;

    .form-group {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 1.5rem;

      .payment {
        margin-bottom: 1.5rem;
      }
    }

    mat-form-field {
      width: 100%;
    }

    app-image-upload{
      margin-top: 50px;
      display: block;
    }

  }

  .single-submit {
    width: 300px;
    margin-bottom: 20px;
    float: left;
  }

  .single-delete {
    margin-top: 20px;
    text-align: right;
    width: 100%;
    button {
      opacity: 0.6;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }
}
//Display Item

.partern-item-display {
  mat-card {
    box-shadow: none !important;
  }

  .section-heading {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .expired-flag {
    position: absolute;
    right: 0;
    top: -35px;
    background: var(--tertiary);
    padding: 10px;
    color: #fff;
  }

  .partern-item-info {
    padding: 10px 30px 9px;
    font-size: 16px;

    .display-field {
      margin-bottom: 30px;

      label {
        display: block;
        color: #000;
        margin-bottom: 15px;
      }

      span,.desc {
        margin-left: 30px;
        color: var(--main-font-color);
      }
    }

    .display-image {
      margin-top: 40px;
      margin-bottom: 40px;
      img {
        width: 400px;
        border: 6px solid #e3e3e3;
        border-radius: 4px;
      }
    }
  }
}
