<div class="account-setting">
  <h1 class="heading">{{ 'SETTINGS.ACCOUNT' | translate }}</h1>

  <!--begin::Form-->
  <form class="form profile-form" [formGroup]="submitForm">

    <div class="row">
      <div class="col-md-6">

        <!--begin::Form Group "Email"-->
        <div class="form-group">
          <mat-form-field>
            <mat-label>{{ 'FIELDS.PROFILE.EMAIL.TITLE' | translate }}</mat-label>
            <input matInput type="email" name="email" formControlName="email">
          </mat-form-field>
        </div>
        <!--end::Form Group "Email"-->

      </div>
    </div>

  </form>
  <!--end::Form-->

  <hr>

  <p class="section-description">
    {{'SETTINGS.DEACTIVATE_DESC' | translate}}
  </p>
  <div class="row">
    <!--begin::Button (Deactivate User)-->
    <!-- <div class="single-delete"> -->
    <div class="col-md-12">
      <button [disabled]="!activated" mat-raised-button (click)="deactivateUserModal()"
        class="btn btn-block btn-danger">
        {{'SETTINGS.DEACTIVATE' | translate}}
      </button>
      <!--end::Button (Deactivate User)-->
    </div>
  </div>

  <hr>

  <p class="section-description">
    {{'SETTINGS.DELETE_DESC' | translate}}
  </p>
  <!--begin::Button (Delete User)-->
  <div class="row">
    <div class="col-md-12">
      <button mat-raised-button (click)="deleteUserModal()" class="btn btn-block btn-danger">
        {{'SETTINGS.DELETE' | translate}}
      </button>
    </div>
    <!--end::Button (Delete User)-->
  </div>
</div>



<!--begin::Confirmation Modal (Delete User)-->
<ng-template #delete_user let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'SETTINGS.DELETE' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form profile-form" [formGroup]="submitForm">
      <!--begin::Form Group "Email"-->
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'FIELDS.PROFILE.PASSWORD.TITLE' | translate }}</mat-label>
          <input matInput type="password" name="password" formControlName="password">
          <mat-error *ngIf="isControlHasError('password','required')" class="error text-danger">
            {{ 'FORM.VALIDATION.REQUIRED_FIELD' | translate }}
          </mat-error>
          <mat-error *ngIf="isControlHasError('password','minlength')" class="error text-danger">
            {{ 'FORM.VALIDATION.MIN_LENGTH_FIELD' | translate }}: {{validator.password.minLength}}
          </mat-error>
          <mat-error *ngIf="isControlHasError('password','maxlength')" class="error text-danger">
            {{ 'FORM.VALIDATION.MAX_LENGTH_FIELD' | translate }}: {{validator.password.maxLength}}
          </mat-error>
          <mat-hint class="form-text text-muted">
            {{ 'FIELDS.PROFILE.CURRENT_PASSWORD.DESC' | translate }}
          </mat-hint>
        </mat-form-field>
      </div>
      <!--end::Form Group "Email"-->
    </form>
    {{'SETTINGS.DELETE_CONFRIRM' | translate}}?
  </div>
  <div class="modal-footer">
    <button mat-raised-button class="btn btn-secondary mr-3" (click)="deleteUser();">{{'SETTINGS.DELETE' |
      translate}}</button>
    <button mat-raised-button class="btn" (click)="c('Close click');">{{'SETTINGS.CANCEL' | translate}}</button>
  </div>
</ng-template>
<!--end::Confirmation Modal (Delete User)-->

<!--begin::Confirmation Modal (Deactivate User)-->
<ng-template #deactivate_user let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{'SETTINGS.DEACTIVATE' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{'SETTINGS.DEACTIVATE_CONFRIRM' | translate}}?
  </div>
  <div class="modal-footer">
    <button mat-raised-button class="btn btn-secondary mr-3" (click)="deactivateUser();">{{'SETTINGS.DEACTIVATE' |
      translate}}</button>
    <button mat-raised-button class="btn" (click)="c('Close click');">{{'SETTINGS.CANCEL' | translate}}</button>
  </div>
</ng-template>
<!--end::Confirmation Modal (Deactivate User)-->