<div class="step-final">
  <div *ngIf="transaction" class="amounts-table">
    <p>
      <label>{{ 'PARTNER.WIZARD.SUB_FINAL_STEP.QUANTITY' | translate }}</label>
      <span>{{transaction.quantity}}</span>
    </p>
    <p>
      <label>{{ 'PARTNER.WIZARD.SUB_FINAL_STEP.POINTS_TO_REDEEM' | translate }}</label>
      <span>{{transaction.discount_points}}</span>
    </p>
    <p>
      <label>{{ 'PARTNER.WIZARD.SUB_FINAL_STEP.POINTS_REMAINING' | translate }}</label>
      <span>{{transaction.final_points}}</span>
    </p>
  </div>
  <!--begin::Wizard Buttons-->
  <button class="btn btn-primary" (click)="onNextStep()">
    {{ 'PARTNER.WIZARD.CLOSE' | translate }}
  </button>
  <!--end::Wizard Buttons-->
</div>
