body{
  height: auto;
}

.login {
  .header_right__wrapper {
    display: flex;
    float: right;
  }

  .auth-logo {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    img{
      max-width: 400px;
    }
  }

  .page-wrapper {
    max-width: 700px;
    margin: 0 auto;
  }

  mat-form-field {
    width: 100%;
  }

  .auth-card {
    padding: 40px;
    text-align: center;

    &-header {
      .mat-card-header-text {
        margin: 0 auto;

        .mat-card-title {
          font-size: 1.8rem;
        }
      }
    }
  }
}

.auth_form {
  max-width: 350px;
  margin: 0 auto 20px;

  .payment {
    width: 100%;
    padding: 0px 2.5px;
    float: left;
  }

  .upload_image {
    clear: both;
  }
}

.auth_head{
  margin-top: 30px;
  border-top: 1px solid #e5e0e0;
  padding-top: 20px;
  a{
    color:var(--secondary);
    font-weight: bold;
  }
}

// .spinner-overlay {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   background-color: rgba(255, 255, 255, 0.7);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 200;
// }

.footer {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  color:#fff;
  a{
    color:#fff;
    font-weight: bold;
    &:hover{
      color:var(--tertiary);
    }
  }
}
