<!--begin::Partners List-->
<div *ngIf="partners && partners.length" class="row section-list">
  <div class="col-md-12">
    <h3 class="list-tiltle">{{ 'USER.PARTNER.PLURAL' | translate }}</h3>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let partner of (partners)">
        <app-partner-card [partner]="partner" (mousedown)="mousedown()" (mousemove)="mousemove()"
          (mouseup)="mouseup(partner)"></app-partner-card>
      </ng-template>
    </owl-carousel-o>
    <div class="section-list-footer"><a [routerLink]="['/partners']">{{ 'USER.PARTNER.ALL' | translate }}</a>
    </div>
  </div>
</div>
<!--end::Partners List-->

<!--begin::Partner Modal-->
<ng-template #partnerModal let-c="close" let-d="dismiss">
  <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <app-partner-single [partner]="partner">
  </app-partner-single>
</ng-template>
<!--end::Partner Modal-->