<div class="wallet_s_single_wrapper synergy-single microcredit-single row">
  <div class="s_single col-md-12">

    <div appSticky position="top" class="row s_single-title-container">
      <div class="col-md-12">
        <h1 class="s_single-title">{{campaign.title}}</h1>
      </div>
    </div>
    <div class="row s_single-img-area">
      <div class="col-md-12 s_single-img-container">
        <div class="s_single-img">
          <img src={{campaign.campaign_imageURL}} alt={{campaign.title}} />
        </div>
        <div *ngIf="campaign.expiresAt>seconds||seconds>campaign.startsAt" class="s_archive-date">
          {{'GENERAL.TO' | translate}}
          {{campaign.expiresAt | date: 'd.M'}}</div>
        <div *ngIf="seconds>campaign.expiresAt" class="s_archive-date">
          {{'CAMPAIGN.STATUS.EXPIRED' | translate}}</div>
        <div *ngIf="campaign.startsAt>seconds" class="s_archive-date">
          {{'CAMPAIGN.STATUS.EXPECTED' | translate}}</div>
      </div>
    </div>
    <div class="row s_single-details">
      <div class="col-md-12">
        <div class="row s_single-info-container">
          <div class="col-md-8 s_single-info">
            <div class="info-row terms">
              <h4>{{'CAMPAIGN.TERMS' | translate}}</h4>
              <p [innerHTML]="campaign.terms"></p>
            </div>
            <div class="info-row">
              <span class="tag">{{'CAMPAIGN.REDEEM_PERIOD' | translate}}:</span>
              {{campaign.redeemStarts | date: 'd.M.y'}} -
              {{campaign.redeemEnds | date: 'd.M.y'}}<br>
              <span class="desc">{{'CAMPAIGN.REDEEM_PERIOD_SUB' | translate}}</span>
            </div>
          </div>
          <div class="col-md-4 s_single-credit">
            <div class="min-amount" *ngIf="campaign.quantitative==true">
              <span class="hypertitle">
                {{'GENERAL.FROM' | translate}}
              </span>
              <span>
                {{campaign.minAllowed | currency:'EUR' }}
              </span>
            </div>
            <div class="price-item">
              <span class="hypertitle" *ngIf="campaign.quantitative!=true">{{'CAMPAIGN.PRICE' | translate}}</span>
              <span class="hypertitle"
                *ngIf="campaign.quantitative==true&&campaign.stepAmount>0">{{'CAMPAIGN.PRICE_PER_ITEM' | translate}}</span>
              <span
                *ngIf="campaign.quantitative==true&&campaign.stepAmount>0">{{campaign.stepAmount | currency:'EUR' }}</span>
              <span *ngIf="campaign.quantitative!=true">{{campaign.minAllowed | currency:'EUR' }}</span>
            </div>
            <div>
              <button mat-raised-button class="plegde-button" (click)="pledgeModal(campaign)"
                [disabled]="!canSupportCampaign">
                <span matTooltip="{{'CAMPAIGN.PLEDGE_DISABLE' | translate}}" [matTooltipPosition]="'left'"
                  [matTooltipDisabled]="canSupportCampaign">{{'CAMPAIGN.PLEDGE' | translate}}</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row s_single-description">
          <div class="col-md-4 partner-info s_single-info-container ">
            <h6>{{'CAMPAIGN.PARTNER' | translate}}</h6>
            <h5>{{campaign.partner_name}}</h5>
            <img src="{{campaign.partner_imageURL}}" alt="{{campaign.partner_name}}">
            <div *ngIf="campaign.partner_address" class="info-row info-addess"
              (click)="scrollTo('map-widget-campaign')">
              <span class="mdi mdi-pin"></span>
              {{campaign.partner_address.street}}, {{campaign.partner_address.city}}
            </div>
            <div *ngIf="campaign.partner_contact" class="info-row"><span
                class="mdi mdi-phone"></span>{{campaign.partner_contact.phone}}</div>
            <div class="info-row"><span class="mdi mdi-email"></span>{{campaign.partner_email}}</div>
          </div>
          <div class="col-md-8">
            <p [innerHTML]="campaign.description"></p>
          </div>
        </div>
      </div>
    </div>

    <!--begin::Map Widget-->
    <app-map id="map-widget-campaign" [partner_id]='campaign.partner_id'></app-map>
    <!--end::Map Widget-->

  </div>
</div>