<div class="dashboard">
  <div class="row">
    <div class="col-md-6">

      <!--begin::Loyalty Badge-->
      <sng-loyalty_badge-card *ngIf="configAccess[1]"></sng-loyalty_badge-card>
      <!--end::Loyalty Badge-->

      <!--begin::Microcredit Badge-->
      <sng-microcredit_badge-card *ngIf="!configAccess[1]&&configAccess[2]"></sng-microcredit_badge-card>
      <!--end::Microcredit Badge-->

    </div>


    <div class="col-md-6">
      <mat-card class="dashboard-card wallet-card">

        <mat-card-header class="wallet-card-header">
          <mat-card-title>{{'MEMBER.DASHBOARD.WALLET_TITLE' | translate}}</mat-card-title>

          <!--begin::QR Code-->
          <sng-qr_code-card></sng-qr_code-card>
          <!--end::QR Code-->

        </mat-card-header>

        <mat-card-content>

          <!--begin::Loyalty Balance (Synergy Points)-->
          <sng-loyalty_balance-card *ngIf="configAccess[1]"></sng-loyalty_balance-card>
          <!--end::Loyalty Balance (Synergy Points)-->

        </mat-card-content>
        <mat-card-content>

          <!--begin::Microcredit Supports List-->
          <sng-microcredit_supports-list-pagination *ngIf="configAccess[2]"></sng-microcredit_supports-list-pagination>
          <!--end::Microcredit Supports List-->

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>






<!--begin::Loyalty Badge-->
<!-- <div *ngIf="configAccess[1]" class="row">
        <div *ngIf="loyalty_badge" class="badge-container">
          <div class="mr-4">
            <img *ngIf="loyalty_badge.image" [src]="loyalty_badge.image">
          </div>
          <div *ngIf="loyalty_badge.text" class="bagde-text">
             <h2 *ngIf="badge.text">{{badge.text.title.rendered}}</h2>
          <p [innerHTML]="badge.text.content.rendered" *ngIf="badge.text"></p>
      <div *ngIf="translate.currentLang == 'en'">
        <h2>{{loyalty_badge.text.en_title}}</h2>
        <p [innerHTML]="loyalty_badge.text.en_content"></p>
      </div>
      <div *ngIf="translate.currentLang == 'el'">
        <h2>{{loyalty_badge.text.el_title}}</h2>
        <p [innerHTML]="loyalty_badge.text.el_content"></p>
      </div>
    </div>
  </div>
</div> -->
<!--end::Loyalty Badge-->
<!--begin::Microcredit Badge-->
<!-- <div *ngIf="!configAccess[1]&&configAccess[2]" class="row">
        <div *ngIf="microcredit_badge" class="badge-container">
          <div class="mr-4">
            <img *ngIf="loyalty_badge.image" [src]="loyalty_badge.image">
          </div>
          <div *ngIf="loyalty_badge.text" class="bagde-text">
            <div *ngIf="translate.currentLang == 'en'">
              <h2>{{loyalty_badge.text.en_title}}</h2>
              <p [innerHTML]="loyalty_badge.text.en_content"></p>
            </div>
            <div *ngIf="translate.currentLang == 'el'">
              <h2>{{loyalty_badge.text.el_title}}</h2>
              <p [innerHTML]="loyalty_badge.text.el_content"></p>
            </div>
          </div>
        </div>
      </div> -->
<!--end::Microcredit Badge-->

<!--begin::Microcredit Supports List-->
<!-- <div *ngIf="configAccess[2]">
              <div class="single row wallet-coop"
                *ngFor="let s of (supportsList) | paginate: { id: 'tr_paginator', itemsPerPage: 3, currentPage: p }"
                (click)="openSupportItem(s)">
                <div class="col-sm-9 single-content">
                  <div class="wallet-img">
                    <img src={{s.campaign_imageURL}} alt={{s.title}} />
                  </div>
                  <div class="">
                    <div class="single-title">{{s.title}}
                      <button mat-mini-fab color="warn" class="single-status" *ngIf="s.status=='order'"
                        matTooltip="{{'SUPPORT.STATUS.PENDING_TOOLTIP' | translate}}" [matTooltipPosition]="'right'">
                      </button>
                      <button mat-mini-fab color="primary" class="single-status" *ngIf="s.status!='order'"
                        matTooltip="{{'SUPPORT.STATUS.CONFIRMED_TOOLTIP' | translate}}" [matTooltipPosition]="'right'">
                      </button>
                    </div>
                    <div class="single-subtitle"><span class="mdi mdi-shopping"></span>{{s.partner_name}}</div>
                    <div class="single-subtitle">
                      {{'GENERAL.FROM' | translate}} {{s.redeemStarts | date: 'd.M.y' }}
                      {{'GENERAL.TO' | translate}} {{s.redeemEnds | date: 'd.M.y' }}</div>
                  </div>
                </div>
                <div class="col-sm-3 single-amount">
                  <div>
                    <span class="points">{{ s.initialTokens - s.redeemedTokens | currency:'EUR' }}</span>
                  </div>

                </div>

              </div>
              <div class="pagination-wrapper">
                <pagination-controls autoHide="true" id='tr_paginator' (pageChange)="p=$event"></pagination-controls>
              </div>
            </div> -->
<!--end::Microcredit Supports List-->

<!--end::Content-->


<!--begin::Modals-->


<!--begin::Loyalty Points Modal-->
<!-- <ng-template #walletModal let-c=" close" let-d="dismiss">
  <div class="container wallet-popup">
    <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="single row-flex">
      <div class="">
        <span class="wallet-img">
          <img src="../../../assets/media/images/Synergy-Icon.png" alt="Synergy" />
        </span>
      </div>
      <div *ngIf="balance.text" class="">
        <h3 *ngIf="translate.currentLang == 'en'" class="balance-title">{{balance.text.en_title}}</h3>
        <h3 *ngIf="translate.currentLang == 'el'" class="balance-title">{{balance.text.el_title}}</h3>
      </div>
      <div *ngIf="balance.points" class="balance-amount">
        <div>
          <span class="points">{{balance.points}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="balance.text" class="balance-text mt-3">
      <p *ngIf="translate.currentLang == 'en'" [innerHTML]="balance.text.en_content"></p>
      <p *ngIf="translate.currentLang == 'el'" [innerHTML]="balance.text.el_content"></p>
    </div>
  </div>
</ng-template> -->
<!--end::Loyalty Points Modal-->

<!--begin::Microcredit Support Modal-->
<!-- <ng-template #supportModal let-c="close" let-d="dismiss">
  <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <sng-microcredit_support-card [support]="supportItem">
  </sng-microcredit_support-card>
</ng-template> -->
<!--end::Microcredit Support Modal-->
<!--end::Modals-->
