@import "../../../../../variables.scss";

// .synergy-card {
//     height: calc(100% - 20px);
//     padding-top: 0;

//     .microcredit-card {
//         height: 100%;
//         padding-top: 0;

//         .s_archive {
//             &-points {
//                 .from {
//                     font-size: 10px;
//                     color: #000;
//                     text-transform: uppercase;
//                     margin-top: 13px;
//                     display: block;
//                     line-height: 3px;
//                 }
//             }
//             cursor: pointer;
//         }
//     }
// }
