.microcredit-manage{
  padding-top: 30px;
  min-height: 700px;
  margin-bottom: 40px;
  overflow: hidden;
  .filters{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    mat-form-field{
      margin-right: 20px;
    }
  }
  .payments-table{
    table {
      width: 100%;
      box-shadow: none;
    }
    .mat-header-cell{
      font-size: 14px;
    }
  }
}
