@import "../../../variables.scss";

.scanner {
  .item-wrapper {
    margin-bottom: 20px;
    .item-card {
      height: 100%;
      cursor: pointer;
    }
  }
  >.row {
    margin-top: 20px;
  }
}

sng-loyalty-statistics{
  margin-top: 30px;
  display: block;
}
