<div class="wallet_s_single_wrapper synergy-single coop-single row">
  <div class="s_single col-md-12">
    <div appSticky position="top" class="row s_single-title-container">
      <div class="col-md-12">
        <h1 class="s_single-title">{{partner.name}}</h1>
      </div>
    </div>
    <div class="row s_single-img-area">
      <div class="col-md-12 s_single-img-container partner-img-container">
        <div class="s_single-img partner-img">
          <img src={{partner.imageURL}} alt={{partner.name}} />
        </div>
      </div>
      <div class="s_single-category">{{partner.sector}}</div>
    </div>
    <div class="row s_single-details">
      <div class="col-md-12">
        <div class="row s_single-info-container">
          <div class="col-md-6 s_single-info">
            <div *ngIf="partner.address" class="info-row"><span class="mdi mdi-pin"></span>{{partner.address.street}},
              {{partner.address.city}}</div>
            <div *ngIf="partner.contact" class="info-row"><span class="mdi mdi-phone"></span>{{partner.contact.phone}}
            </div>
            <div class="info-row"><span class="mdi mdi-email"></span>{{partner.email}}</div>
            <div *ngIf="partner.contact" class="info-row"><span class="mdi mdi-web"></span><a target="_blank"
                href="{{partner.contact.websiteURL}}">{{partner.contact.websiteURL}}</a></div>
          </div>
          <div *ngIf="partner.timetable" class="col-md-6 hours">
            <p [innerHTML]="partner.timetable"></p>
          </div>
        </div>
        <div class="row s_single-description">
          <div class="col-md-12">
            <p [innerHTML]="partner.description"></p>
          </div>
        </div>
      </div>
    </div>

    <!--begin::Microcredit Campaigns List-->
    <app-microcredit_campaigns-list-carousel [partner]='partner' type='single'>
    </app-microcredit_campaigns-list-carousel>
    <!--end::Microcredit Campaigns List-->

    <!--begin::Loyalty Offers List-->
    <app-offers-list-carousel [partner]='partner' type='single'></app-offers-list-carousel>
    <!--end::Loyalty Offers List-->

    <!--begin::Post/Events List-->
    <app-posts_events-list-carousel [partner]='partner' type='single'></app-posts_events-list-carousel>
    <!--end::Post/Events List-->

  </div>
</div>

<!-- List of Partner's Microcredit Campaigns
    <div class="row section-list" *ngIf="singleMicrocredits && singleMicrocredits.length">
      <div class="col-md-12">
        <h3 class="list-tiltle">{{'CAMPAIGN.PLURAL' | translate }}</h3>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let microcredit of (singleMicrocredits)">
            <app-microcredit_campaign-card [campaign]="microcredit" type="single" (mousedown)="mousedown()"
              (mousemove)="mousemove()" (mouseup)="mouseup(microcredit, 'microcredit')">
            </app-microcredit_campaign-card>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div> -->

<!-- List of Partner's Offers -->
<!-- <div class="row section-list" *ngIf="singleOffers && singleOffers.length">
      <div class="col-md-12">
        <h3 class="list-tiltle">{{ 'OFFER.PLURAL' | translate }}</h3>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let offer of (singleOffers);">
            <app-offer-card [offer]="offer" type="single"></app-offer-card>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div> -->

<!-- List of Partner's News & Events -->
<!-- 
    <div class="row section-list" *ngIf="singlePosts && singlePosts.length">
      <div class="col-md-12">
        <h3 class="list-tiltle">{{ 'POST_EVENT.PLURAL' | translate }}</h3>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let post of (singlePosts)">
            <app-post_event-card [post_event]="post" type="single" (mousedown)="mousedown()" (mousemove)="mousemove()"
              (mouseup)="mouseup(post, 'post')"></app-post_event-card>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div> -->

<!-- Post/Event Modal -->
<!-- <ng-template #postModal let-c="close" let-d="dismiss">
  <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <app-post_event-single [singlePost]="singlePost"></app-post_event-single>
</ng-template> -->

<!-- Microcredit Campaign Modal -->
<!-- <ng-template #campaignModal let-c="close" let-d="dismiss">
  <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <app-microcredit_campaign-single [campaign]="singleMicrocredit"></app-microcredit_campaign-single>
</ng-template> -->