/** Synergy Card */
.mat-card.synergy-card {
  padding-top: 0;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.synergy-card {
  height: 100%;
  padding-top: 0;
  cursor: pointer;

  .item-card {
    height: 100%;
    padding-top: 0;
    z-index: -1;
  }

  .s_archive {
    &-img.partner-img {
      background-color: #e9e9e9;

      img {
        max-width: 60%;
        margin: auto;
        display: block;
        max-height: 75%;
        width: auto !important;
        height: auto !important;
      }
    }

    &-img {
      position: relative;
      height: 230px;

      @media (max-width: 768px) {
        height: 280px;
      }

      &-container {
        padding: 0;
        margin-bottom: 20px;
      }

      img {
        right: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        top: 0;
        position: absolute;
        object-position: 50% 50%;
        object-fit: cover;
      }
    }

    &-date {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0;
      background-color: $tertiary;
      color: #fff;
      padding: 10px;
      padding-right: 20px;
      font-size: 1.25rem;
      @extend .light-shadow;
    }

    &-campaign {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0;
      background-color: $secondary;
      color: #fff;
      padding: 10px;
      padding-right: 20px;
      font-size: 1.25rem;
      @extend .light-shadow;
    }

    &-offer {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0;
      background-color: $tertiary;
      color: #fff;
      padding: 10px;
      padding-right: 20px;
      font-size: 1.25rem;
      @extend .light-shadow;
    }

    &-category {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0;
      background-color: $primary;
      color: #fff;
      padding: 10px;
      padding-right: 20px;
      //text-transform: uppercase;
    }

    &-heading {
      /*display: flex;
      align-items: center;
      justify-content: space-between;*/
      z-index: 2;
      margin-bottom: 10px;
    }

    &-title {
      font-size: 1.35rem;
      font-weight: normal;
    }

    &-points {
      font-size: 1.5rem;
      color: $amount-color;
      text-align: right;
      padding-right: 5px;
      padding-left: 0px;
      margin-top: -4px;

      .from {
        font-size: 10px;
        color: #000;
        //text-transform: uppercase;
        margin-top: 13px;
        display: block;
        line-height: 3px;
      }
    }

    &-subtitle {
      color: $main-font-color;
    }

    .amount {
      img {
        width: 24px;
        display: inline;
      }
    }

    &-info {
      border-top: 1px solid #eee;
      padding-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 15px;

      .share {
        cursor: pointer;
      }
    }

    &-merch-phone {
      a {
        color: $darker-font;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
