<div class="explore">

  <!--begin::Partners List(Carousel)-->
  <sng-partners-list-carousel> </sng-partners-list-carousel>
  <!--end::Partners List(Carousel)-->

  <!--begin::Posts/Events List(Carousel)-->
  <sng-posts_events-list-carousel type='all' *ngIf="configAccess[0]"></sng-posts_events-list-carousel>
  <!--end::Posts/Events List(Carousel)-->

</div>

<!--begin::Partners List-->
<!-- <div *ngIf="partners" class="row section-list">
    <div class="col-md-12">
      <h3 class="list-tiltle">{{ 'USER.PARTNER.PLURAL' | translate }}</h3>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let partner of (partners)">
          <sng-partner-card [partner]="partner" (mousedown)="mousedown()" (mousemove)="mousemove()"
            (mouseup)="mouseup(partner, 'partner')"></sng-partner-card>
        </ng-template>
      </owl-carousel-o>
      <div class="section-list-footer"><a [routerLink]="['/partners']">{{ 'USER.PARTNER.ALL' | translate }}</a>
      </div>
    </div>
  </div> -->
<!--end::Partners List-->

<!--begin::Loyalty Offers List-->
<!-- <div *ngIf="configAccess[1]">
    <div class="row section-list" *ngIf="offers">
      <div class="col-md-12">
        <h3 class="list-tiltle">{{ 'OFFER.PLURAL' | translate }}</h3>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let offer of (offers)">
            <sng-offer-card [offer]="offer" type="all"></sng-offer-card>
          </ng-template>
        </owl-carousel-o>
        <div class="section-list-footer"><a [routerLink]="['/offers']">{{ 'OFFER.ALL' | translate }}</a>
        </div>
      </div>
    </div>
  </div> -->
<!--end::Loyalty Offers List-->



<!--begin::Community Posts & Events List-->
<!-- <div *ngIf="configAccess[0]">
    <div class="row section-list" *ngIf="posts">
      <div class="col-md-12">
        <h3 class="list-tiltle">{{ 'POST_EVENT.PLURAL' | translate }}</h3>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let post of (posts)">
            <sng-post_event-card [post_event]="post" (mousedown)="mousedown()" (mousemove)="mousemove()"
              (mouseup)="mouseup(post, 'post')"></sng-post_event-card>
          </ng-template>
        </owl-carousel-o>
        <div class="section-list-footer"><a [routerLink]="['/posts']">{{ 'POST_EVENT.ALL' | translate }}</a>
        </div>
      </div>
    </div>
  </div> -->
<!--end::Community Posts & Events List-->


<!--begin::Modals-->
<!--begin::Partner Modal-->
<!-- <ng-template #partnerModal let-c="close" let-d="dismiss">
  <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <sng-partner-single [partner]="singlePartner">
  </sng-partner-single>
</ng-template> -->
<!--end::Partner Modal-->

<!--begin::Community Post/Event Modal-->
<!-- <ng-template #postModal let-c="close" let-d="dismiss">
  <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <sng-post_event-single [singlePost]="singlePost"></sng-post_event-single>
</ng-template> -->
<!--end::Community Post/Event Modal-->
<!--end::Modals-->
