<div class="stepper-modal-container">

  <!--begin::Wizard Button (Exit)-->
  <button type="button" class="close-btn" aria-label="Close" (click)="onFinalStep($event)">
    <span aria-hidden="true">&times;</span>
  </button>
  <!--end::Wizard Button (Exit)-->

  <aw-wizard>

    <!--begin::Step A - Scan/Enter Identifier-->
    <aw-wizard-step stepTitle="{{ 'PARTNER.WIZARD.STEPS.INDENTIFY' | translate }}">
      <!--begin::Stepper Notice-->
      <stepper-notice></stepper-notice>
      <!--end::Stepper Notice-->
      <div class="step-container row justify-content-md-center">
        <div class="col-md-8">
          <div *ngIf="!showIdentifierForm">
            <h3 class="heading">{{ 'PARTNER.WIZARD.SCAN_FORM.HEADING' | translate }}</h3>
            <app-sub-scanner (scan_identifier)="onDefineIdentifier($event)">
            </app-sub-scanner>
          </div>
          <button mat-raised-button type="button" (click)="onShowIdentifierFormChange()">
            <span class="mdi mdi-autorenew" *ngIf="!showIdentifierForm; else back_to_identifier_scanner">
              {{ 'PARTNER.WIZARD.SCAN_FORM.ALT_PROMPT' | translate }}
            </span>
            <ng-template #back_to_identifier_scanner>
              <span class="mdi mdi-autorenew">{{ 'PARTNER.WIZARD.BACK_TO_SCANNER' | translate }}</span>
            </ng-template>
          </button>
          <div *ngIf="showIdentifierForm">
            <app-sub-identifier-form (add_identifier)="onDefineIdentifier($event)">
            </app-sub-identifier-form>
          </div>
        </div>
      </div>
    </aw-wizard-step>
    <!--end::Step A - Scan/Enter Identifier-->

    <!--begin::Step B - Enter Email (Optional)-->
    <aw-wizard-step stepTitle="{{ 'PARTNER.WIZARD.STEPS.EMAIL' | translate }}" awOptionalStep>

      <!--begin::Stepper Notice-->
      <stepper-notice></stepper-notice>
      <!--end::Stepper Notice-->

      <div class="step-container row justify-content-md-center">
        <app-sub-email-form (previous_step)="onPreviousStep($event)" (add_email)="onSubmitEmailForm($event)">
        </app-sub-email-form>
      </div>
    </aw-wizard-step>
    <!--end::Step B - Enter Email (Optional)-->

    <!--begin::Step C - Enter Amount-->
    <aw-wizard-step stepTitle="{{ 'PARTNER.WIZARD.STEPS.AMOUNT' | translate }}">

      <!--begin::Stepper Notice-->
      <stepper-notice></stepper-notice>
      <!--end::Stepper Notice-->
      <div class="step-container row justify-content-md-center">
        <div class="col-md-8">
          <div *ngIf="!showAmountForm">
            <h3 class="heading">{{ 'PARTNER.WIZARD.SUB_AMOUNT_SCAN.HEADING' | translate }}</h3>
            <app-sub-amount-scan (scan_amount)="onDefineAmount($event)">
            </app-sub-amount-scan>
          </div>
          <button mat-raised-button type="button" (click)="onShowAmountFormChange()">
            <span class="mdi mdi-autorenew" *ngIf="!showAmountForm; else back_to_amount_scanner">
              {{ 'PARTNER.WIZARD.SUB_AMOUNT_SCAN.ALT_PROMPT' | translate }}
            </span>
            <ng-template #back_to_amount_scanner>
              <span class="mdi mdi-autorenew">{{ 'PARTNER.WIZARD.BACK_TO_SCANNER' | translate }}</span>
            </ng-template>
          </button>
          <div *ngIf="!showAmountForm" class="row">
            <button mat-raised-button type="button" class='mt-1' (click)="onPreviousStep($event)">
              {{ 'PARTNER.WIZARD.PREVIOUS_STEP' | translate }}
            </button>
          </div>
          <div *ngIf="showAmountForm">
            <app-sub-amount-form (previous_step)="onPreviousStep($event)" (add_amount)="onDefineAmount($event)">
            </app-sub-amount-form>
          </div>
        </div>
      </div>
      <!-- 
      <div class="step-container row justify-content-md-center">
        <app-sub-amount-form (previous_step)="onPreviousStep($event)" (add_amount)="onSubmitAmountForm($event)">
        </app-sub-amount-form>
      </div> -->
    </aw-wizard-step>
    <!--end::Step C - Scan/Enter Amount-->

    <!--begin::Step D - Enter Discount-->
    <aw-wizard-step stepTitle="{{ 'PARTNER.WIZARD.STEPS.DISCOUNT' | translate }}" awOptionalStep>

      <!--begin::Stepper Notice-->
      <stepper-notice></stepper-notice>
      <!--end::Stepper Notice-->

      <div class="step-container row justify-content-md-center">
        <app-sub-discount-form (previous_step)="onPreviousStep($event)" (add_discount)="onSubmitDiscountForm($event)">
        </app-sub-discount-form>
      </div>
    </aw-wizard-step>
    <!--end::Step D - Enter Discount-->

    <!--begin::Step E - Final-->
    <aw-wizard-step stepTitle="{{ 'PARTNER.WIZARD.STEPS.FINAL' | translate }}">

      <!--begin::Stepper Notice-->
      <stepper-notice></stepper-notice>
      <!--end::Stepper Notice-->

      <div class="step-container row justify-content-md-center">
        <app-sub-final-step (finalize)="onFinalStep($event)"></app-sub-final-step>
      </div>
    </aw-wizard-step>
    <!--end::Step E - Final-->

    <!--begin::Loading Spinner-->
    <div *ngIf="loading" class="spinner-overlay">
      <mat-spinner></mat-spinner>
    </div>
    <!--end::Loading Spinner-->

  </aw-wizard>
</div>