/* All Variables */
@import "variables.scss";

:root {
    //Config Colours

    --background-default: #f4f4f4;
    --background-secondary: #a3b9cc;
    --background-tertiary: #5c7d99;
    --background-light: #ffffff;

    --top-toolbar-color: #f4f4f4;
    --top-toolbar-background-color: #{$primary};

    --primary-color: #{$primary};
    --primary-light-color: #{$primary-light};

    --secondary-color: #{$secondary};
    --tertiary-color: #{$tertiary};

    --main-font-color:#{$main-font-color};
    --menu-font-color: #{$menu-color};
    --font-primary-color: #{$primary};
    --font-dark-color: #{$dark-font};

    --amount-color: #{$amount-color};
}


/* Configure Aseets (Material,Bootsrtap) */
@import "assets/scss/config_assets.scss";

/* Auth */

//Profile Registration
@import "assets/scss/auth/register.scss";

/* Member */

//Archive (Synergy Card)
@import "assets/scss/member/archive.scss";

//Singel (Modal)
@import "assets/scss/member/single.scss";

/* Patner */

//Add & Edit Items
@import "assets/scss/partner/items.scss";

//Stepper (Modal)
@import "assets/scss/partner/stepper.scss";

//Statistics
@import "assets/scss/partner/stats.scss";

html,
body {
  height: 100%;
}

body {
  /* 0.GENERAL */
  margin: 0;
  color: $main-font-color;
  font-size: 1.1;
  background-color: #f2f3f8;
  font-family: $main-font, sans-serif;

  a {
    color: $primary;
    transition: color 0.3s;

    &:hover {
      color: $primary-light;
      text-decoration: none;
    }
  }

  .heading {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 20px;
  }

  .sub-heading {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 10px;
  }

  .section-heading {
    padding-left:0px;
    margin-bottom: 15px;
    color:$primary;
  }

  .section-description{
    margin-bottom: 20px;
  }

  button:focus {
    outline: 0;
  }

  .back-link{
    font-size: 25px;
    margin-bottom: 15px;
  }

  .message-highlight {
    font-size: 24px;
    color: $primary;
  }

  .item-wrapper {
    margin-bottom: 30px;
  }
  /* 1. HEADER */

  /* 2. SIDE MENU */
  &.menu-overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .nav a {
    padding: 8px 8px 8px 32px;
  }
  @media screen and (min-width: 1025px) {
    .menu-toggled {
      .nav a {
        padding-left: 20px;
      }

      .menu-text {
        opacity: 0;
      }

      .togglebtn {
        transform: rotate(180deg);
      }
    }
  }
}

/* 4. CUSTOM ASSETS */

//Card list
.list-tiltle {
  font-size: 1.7rem;
  color: $primary;
  margin-bottom: 25px;
}

.section-list {
  margin-bottom: 65px;
}

.spinner-overlay {
  color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

/* 5. PAGES */

//Auth Page
.auth-page {
  background-color: $primary;
}
