<!--begin::Microcredit Campaigns List-->
<div *ngIf="campaigns && campaigns.length" class="row section-list" infiniteScroll [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <div class="col-md-4 item-wrapper" *ngFor="let campaign of (campaigns)">
    <app-microcredit_campaign-card [campaign]=" campaign" type="all" (mousedown)="mousedown()" (mousemove)="mousemove()"
      (mouseup)="mouseup(campaign)">
    </app-microcredit_campaign-card>
  </div>
</div>
<!--end::Microcredit Campaigns List-->

<!--begin::Microcredit Campaign Modal-->
<ng-template #campaignModal let-c="close" let-d="dismiss">
  <button type="button" class="close-btn" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <app-microcredit_campaign-single [campaign]="campaign"></app-microcredit_campaign-single>
</ng-template>
<!--end::Microcredit Campaign Modal-->