<!--begin::Loaylty Offers List-->
<div *ngIf="offers && offers.length" class="row section-list">
  <div class="col-md-12">
    <h3 class="list-tiltle">{{ 'OFFER.PLURAL' | translate }}</h3>
    <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
      <div class="col-md-4 item-wrapper" *ngFor="let offer of (offers)">
        <app-offer-card [offer]="offer"></app-offer-card>
      </div>
    </div>
  </div>
</div>
<!--end::Loaylty Offers List-->